doctype html
html(lang="de")
  head
    title Tiroler Integrationsforum
    meta(name="author" content="Manuel Widmoser")
    meta(name="description" content="Tiroler Integrationsforum. Das Integrationsforum besteht schon seit über 10 Jahren und ist eine unabhängige Plattform von Privatpersonen sowie von ...")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-width=1")
    
    link(href="css/main.css" rel="stylesheet" type="text/css")
    
    script(src="js/jquery-3.1.1.min.js")
    script(src="js/jquery.cycle2.min.js")
    script(src="js/nav.js")
    script(src="js/classie.js")
    
  
  body
    header
      .container
        a(href="index.html")
          img(src="img/03_LOGO-TIF.png" alt="Tiroler Integrationsforum TIF tif")#logo
        nav
          a(href="index.html").content Home
          a(href="#akt") Aktuelles
          a(href="#info") Informationen
          a(href="#org") Organisation
          a(href="#kon") Kontakt
    
    // Main Content 
    .clearfix(style="height: 100px")
    
    .main-container
      
      // Image Slider
        
      .cycle-slideshow(data-cycle-fix=tileSlide data-cycle-tile-vertical=false data-cycle-tile-count=10)
        span.cycle-prev &#9001;
        span.cycle-next &#9002;
        span.cycle-pager
        img(src="img/slide1.jpg")
        img(src="img/slide2.jpg")
        img(src="img/slide3.jpg")
        
      // Aktuelles
      
      h1 Aktuelles
      
      iframe(src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTiroler-Integrationsforum-182379178474675%2F%3Ffref%3Dts&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true")
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
